{% extends "::base.html.twig" %}

{% block title %}{{ subtitle|default([])|merge(['Austra'])|join(' - ') }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.min.css') }}"/>
    {% stylesheets "bundles/majmanager/css/man.less" filter="less, cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/jquery/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bootstrap/js/bootstrap.min.js') }}"></script>

{% endblock %}

{% block body %}
    <div id="page" class="{{ page_id|default([])|join(' ') }}">
        <div id="hd">
            {% block hd %}
                <div class="navbar navbar-default">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">项目列表</a>
                                <ul class="dropdown-menu">
                                    {#<li><a href="{{ path('eb5_qas_list',{type:'unsettled'}) }}">Unanswered#}
                                        {#</a></li>#}
                                    {#<li><a href="{{ path('eb5_qas_list', {type:'settled'}) }}">Answered</a></li>#}
                                    {#<li><a href="{{ path('eb5_qas_list', {type:'all'}) }}">All</a></li>#}
                                </ul>
                            </li>

                        </ul>

                        <ul class="nav navbar-nav pull-right">
                            <li><a href="#">{{ app.user.username }}</a></li>
                            <li><a href="{{ path('finance_default_login_out') }}">login out</a></li>
                        </ul>
                    </div>
                </div>
            {% endblock %}
        </div>
        <div id="prologue">{% block prologue %}{% endblock %}</div>
        <div id="bd">{% block bd %}{% endblock %}</div>
        <div id="epilogue">{% block epilogue %}{% endblock %}</div>
        <div id="ft">{% block ft %}{% endblock %}</div>
    </div>
{% endblock %}
