{% extends "MajManagerBundle::base.html.twig" %}

{% block title %}login{% endblock %}
{% block hd %}
{% endblock %}
{% block bd %}
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <h1>login</h1>

            <form action="{{ path('maj_manager_check') }}" method="post">
                <div class="form-group">
                    <label for="username">email</label>
                    <input type="text" name="_username" value="{{ last_username|default }}" placeholder="email"
                           id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" id="password" name="_password" placeholder="password" class="form-control">
                </div>

                <button type="submit" name="submit" class="btn btn-primary">log in</button>
            </form>

        </div>
    </div>

{% endblock %}