<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block title %}auction{% endblock %}-美澳居</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block des %}{% endblock %}" />
    <link rel="stylesheet" href="http://www.meiaoju.com/bootstrap/css/bootstrap.min.css"/>

</head>

<body>



{% block header %}

{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://www.meiaoju.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://www.meiaoju.com/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
    <script type="text/javascript" src="http://www.meiaoju.com/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
