{% extends "MajAuctionBundle::base.html.twig" %}
{% block body %}
    <table class="table table-bordered">
        <tr><td>name:</td><td>{{ hotel.name }}</td></tr>
        <tr><td>description:</td><td>{{ hotel.description }}</td></tr>
        <tr><td>start_bid</td><td>{{ hotel.getStartBid()|default }}</td></tr>
        <tr><td>end_bid:</td><td>{{ hotel.getEndBid()|default }}</td></tr>
        <tr><td>type:</td><td>{{ hotel.type|default }}</td></tr>
        <tr><td>lotSize:</td><td>{{ hotel.lotSize|default }}</td></tr>
        <tr><td>occupancyRate:</td><td>{{ hotel.occupancyRate|default }}</td></tr>
        <tr><td>state:</td><td>{{ hotel.state|default }}</td></tr>
        <tr><td>Units:</td><td>{{ hotel.getUnitsNumber()|default }}</td></tr>
        <tr><td>status</td><td>{% if hotel.isend %}sold{% else %}live{% endif %}</td></tr>
        <tr><td>url</td><td><a href="{{ hotel.url }}">url</a> </td></tr>
        <tr><td>thumb</td><td><img src="{{ hotel.thumb }}" width="100"/> </td></tr>


    </table>
{% endblock %}