{% extends "MajAuctionBundle::base.html.twig" %}
{% block body %}
    <table class="table table-bordered">
        <tr>
           <td>id</td> <td>name</td> <td>start_bid</td> <td>end_bid</td><td>end time</td><td>status</td>
        </tr>
        {% for i in data %}
            <tr>
                <td><a href="{{ path('Maj_AuctionBundle_detail',{id:i.id}) }}">{{ i.propertyId }}</a></td>
                <td>{{ i.name|default }}</td>
                <td>{{ i.getStartBid()|default }}</td>
                <td>{{ i.getEndBid()|default }}</td>
                <td>{{ i.endDate|date('Y-m-d') }}</td>
                <td>{% if i.isend %}sold{% else %}live{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}